/* All Global Css Start */
* {
    margin: 0;
    padding: 0;
    /* line-height: 0.8; */
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

/* ul,
ol {
    list-style-type: none;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* All Global Css End */

.card {
    margin: auto;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.cvTitle h1 {
    font-size: 40px;
    text-align: center;
}

.cvTitle p {
    font-size: 20px;
    text-align: center;
}

.cvImg img {
    height: 300px;
}